<ul class="tilesWrap">
	<div class="container" *ngIf="!tasks?.length">
		<div style="display: flex; margin: auto;padding-right: 20px;">
			<h2>You have not created tasks...</h2>
		</div>
		<button routerLink="/app-newTask">
			<mat-icon>plus_one</mat-icon>Create Task
		</button>
	</div>
	<li *ngFor="let task of tasks; let i = index">
		<h2>{{i +1}}</h2>
		<h3>{{task.name}}</h3>
		<h4 style="color: gray;">{{task.desc}}</h4>
		<b *ngIf="task.audio">Alarm:</b>
		<span style="cursor: pointer;" appClickOutside (clickOutside)="currentAudio?.pause()"
			(click)="playAudio(task.audio)" *ngIf="task.audio">{{task.audio}}</span>
		<br>
		<br>
		<b *ngIf="task.street">Address:</b>
		<span *ngIf="task.street">{{task.street}} {{task.number}}, {{task.city}}, {{task.country}}</span>
		<p>

		</p>
		<!-- <button>Read more</button> -->
		<button class="btn" (click)="edit(task._id)">
			<mat-icon class="ico">edit</mat-icon>
			Edit
		</button>
		<button class="btn" (click)="remove(task._id)">
			<mat-icon class="ico">delete</mat-icon>
			Remove
		</button>
	</li>
</ul>