<form #f="ngForm" class="modal-content animate" (ngSubmit)="submit()" [formGroup]="form">
  <div class="imgcontainer">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"
      routerLink="/">&times;</span>
    <img src="../../../assets/user.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <div class="title">Please enter your Email and we will send you a new password:</div>
    <br>
    <label for="uname"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="uname" formControlName="email" required>

    <ng-container *ngIf="f.submitted">
      <span class="err" *ngIf="form.get('email').hasError('required')">Email is required</span>
      <span class="err" *ngIf="form.get('email').hasError('email')">Email is invalid</span>
    </ng-container>
    <button type="submit">Send</button>
    <label>
      <mat-checkbox checked="checked" name="remember"> Remember me</mat-checkbox>
    </label>
  </div>

</form>
<script>
  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>